@use './functions' as *;

$laptop: 1440.98;
$table: 1033.98;
$mobile: 767.98;
$mobile-s: 480.98;

@mixin laptop-above {
	@media (width > rem($laptop)) {
		@content;
	}
}

@mixin laptop {
	@media (width <= rem($laptop)) {
		@content;
	}
}
@mixin table-above {
	@media (width > rem($table)) {
		@content;
	}
}

@mixin table {
	@media (width <= rem($table)) {
		@content;
	}
}

@mixin mobile-above {
	@media (width > rem($mobile)) {
		@content;
	}
}
@mixin mobile {
	@media (width <= rem($mobile)) {
		@content;
	}
}

@mixin mobile-s {
	@media (width <= rem($mobile-s)) {
		@content;
	}
}

@mixin hover($hasActiveEffectOmMobile: true) {
	@media (any-hover: hover) {
		&:hover {
			@content;
		}
	}

	@if ($hasActiveEffectOmMobile) {
		@media (any-hover: none) {
			&:active {
				@content;
			}
		}
	}
}
