@use 'helpers' as *;
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Занимает минимум 100% высоты окна браузера */
}

/* 2. Заставляем main забирать всё свободное пространство */
.main {
  flex: 1 0 auto; /* Растягивается, выталкивая footer в самый низ */
}

/* 3. Гарантируем, что подвал не сжимается */
.footer {
  flex: 0 0 auto;
}
